<%= render "application/page_head"%>
<h1>Edit Control</h1>
<div class="in-line">
    <%= button_to "Cancel", @control%>&nbsp;&nbsp;&nbsp;
</div>
    <%= render "form", control: @control%>

<%= render "application/footer" %>