<%= render "application/head" %>


<div id="controls">
    <% @controls.each do |control| %>
        <div>
            <%= link_to control.name, control %>
        </div>
    <% end %>
</div>
<%= render "application/footer" %>