/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
/* External CSS */
/*
  Color Schema from:
  https://www.nceas.ucsb.edu/sites/default/files/2022-06/Colorblind%20Safe%20Color%20Schemes.pdf
*/



:root{
  --cream:         rgb(238, 236, 236);
  --gray:          rgb(221,221,221);
  --blue:          rgb(046,037,133);
  --green:         rgb(051,117,056);
  --purple:        rgb(126,041,084);
  --light-green:   rgb(093,168,153);
  --light-blue:    rgb(148,203,236);
  --light-orange:  rgb(220,205,125);
  --light-purple:  rgb(159,074,150);
  --dark-pink:     rgb(194,106,119);
  --dark-green:    rgb(041,094,017);
  }
/* Setup Header */
.head {
  height: auto;
  width: device-width;
  color:var(--green);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}
/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 40;
  left: 0;
  background-color: var(--green);
  overflow-x: hidden;
}
/* Side navigation links */
.sidenav a {
  color: white;
  padding-left: 15px;
  text-decoration: none;
  display: block;
}
/* Change color on hover */
.sidenav a:hover {
  background-color: var(--light-green);
  color: black;
}
.sidenav p {
  color: var(--cream);
  padding-left: 5px;
  font-weight: bold;
}
/* Style the content */
.content {
  padding: 10px;
  width: 40%;
  float: left;
  position: absolute;
  left: 200px;
}
.container{
display: flex;
justify-content: space-between;
}
/* Set up aside for right pane */
.aside {
  height: 100%;
  width: 40%;
  z-index: 1;
  top: 60px;
  left: 60%;
  float: right;
  overflow-x: hidden;
  border: black;
  border-width: 5px;
  padding-right: 10px;
}
/* Setup footer */
.footer { 
  position: absolute;
  height: auto;     
  text-align: center;
  font-size: 15px;
  font:bold;
  padding: 10px;
  width: 100%;
  color: var(--light-green);
}
.footer p {
  color: var(--light-green);
  font: bold;
  text-align: center;
} 
.box {
  width: auto;
  height: auto;
  border: 2px solid var(--green);
  padding: 10px;
  margin: 10px;
}
/* Output window */
.terminal {
  background: black;
  color: white;
  font: courier;
  padding: 10px;
  height: auto;
}
.terminal span{
  display: table-cell;
  width:1px;
}
.terminal p {
  color: white;
  font: courier;
  text-align: justify;
}

  /* Setup href */
a {
  color: var(--blue);
  text-align: left;
  padding-left: 10px;
}
/* Setup Paragraphs */
p {
    color: black;
    text-align: left;
    padding-left: 10px;
}
/* Setup Headings */
h1 {
    color: var(--dark-green);
    text-align: center;
    size: 40;
}
h2 {
    color: black;
    text-align: left;
    size: 30;
}
h3 {
  color: black;
  size: 30;
  font-style: italic;
}
/* Setup for Popups */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,
            0,
            0,
            0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}

.btn-group button {
  background-color: var(--green); 
  border: 1px solid rgb(0, 24, 0); 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}

/* Clear floats */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: var(--light-green);
}



nav {
  justify-content: flex-end;
  display: flex;
  font-size: 0.875em;
  gap: 0.5rem;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

nav a {
  display: inline-block;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

.notice {
  color: green;
}

section.catalog {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

section.catalog img {
  border-radius: 8px;
  flex-basis: 50%;
  max-width: 50%;
}
.in-line{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.sort {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.sort-desc {
  border-top: 8px solid #fff;
}

.sort-asc {
  border-bottom: 8px solid #fff;
}

.table {
  color: var(--dark-green);
  border-color: var(--gray);
  border-radius: 3px;
  border-width: 2px;
}
.table-header {
  color: var(--cream);
  background-color: var(--dark-green);
}


.table-body {
  color: var(--dark-green);
  border-radius: 3px;
  border-color: var(--gray);
  border-width: 3px;
}

.lists {
  color: var(--dark-green);
}