<div class="head">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" 
            content="width=device-width, 
                    initial-scale=1.0" />
        <h1>
        <%= image_tag "sparc.png", height: 150%>
        </h1>
        <h1 style="padding-bottom: 0px;">SPARC</h1>
        <div class="in-line">
        <%= link_to "Home",root_path%> &nbsp;&nbsp;&nbsp;
        <%= link_to "Login", new_session_path unless authenticated? %> &nbsp;&nbsp;&nbsp;
        <%= link_to "New Control", new_catalog_path if authenticated? %>
        </div>
    </head>
</div>